@import url("https://use.typekit.net/nyt6teh.css");
@import url("https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700");
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
 }
 
 h1, h2, h4, h5, h6 {
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  color: #1A1A1A;
 }
.context{
  padding-top: 20vh;
  padding-bottom: 10vh;
}
/* The progress container (grey background) */

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: lightblue;
  width: 0%;
}

/* Nav bar */
.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}


/*font */ 
  .textleft{
    text-align: left;
  }
  .textcenter{
    text-align: center;
  }
  h1{
    text-align: center;
    margin-bottom: 40pt;
  }
  h2{
    text-align: center;
    font-size: 17pt;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #676767;
    margin-bottom: 20pt;
  }
  h3{
    font-size: 17pt;
    margin-bottom: 20pt;
  }

  h4{
    font-size: 12pt;
  }

  p{
   line-height: 20pt;
  }

  li{
    line-height: 20pt;
  }

  .quote{
    text-align: left;
  }

  .mini {
    font-size: 12px;
    color: grey;
    text-align: center;
    padding: 0; 
    margin: 0;
  }

  a{
    text-decoration: none;
  }
  .navbar-brand{
    text-align: center;
  }

  /*backup*/ 
  #scrollup{
    padding-top: 10vh;
    padding-bottom: 15vh;
    text-align: center;
    font-size: 12pt;
  }

  /* [1] The container */
.img-hover-zoom {
  height: 330pt; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  position: relative;
  width: 48%;
  margin: 1%;
}
#imgsamller {
  height: 200pt;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  position: relative;
}
@media(max-width: 1250px){
  .img-hover-zoom {
    height: 280pt; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    position: relative;
    width: 48%;
    margin: 1%;
  }
  #imgsamller {
    height: 170pt;
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    position: relative;
  }
}
@media(max-width: 1050px){
  .img-hover-zoom {
    height:auto; /* [1.1] Set it as per your need */
    overflow: auto; /* [1.2] Hide the overflowing of child elements */
    position: relative;
    width: 100%;
  }

  #imgsamller {
    width: 48%;
    margin: 1%;
    height: 200pt;
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    position: relative;
  }
}

@media(max-width: 700px){
  #imgsamller {
    width: 48%;
    margin: 1%;
    height: auto;
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    position: relative;
  }
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}
  /* Brightness-zoom Container */
.img-hover-zoom--brightness img {
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
}

/* The Transformation */
.img-hover-zoom--brightness:hover img {
  filter: brightness(100%);
  transform: scale(1.1);
}

  
  /*img */ 
  img{
    margin-bottom: 30pt;
  }
  .imgsmall{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300pt;
  }
  

  .margin{
    margin-left: 15%;
    margin-right: 15%;
  }
  

  .intro{
    padding: 10% 0px;
  }

  header > img{
    width: 100%;
  }
  
  .wrap-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .half{
    width: 48%;
  }

  @media(max-width: 1050px){
    .wrap-box{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
  }
  

  .container2 {
    position: relative;
    width: 45%;
    margin: 10pt;
  }
  
  
  .container2:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


  .wrap{
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrap > div{
    padding: 2%;
  }
  .wrap-intro{
    text-align: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrap-intro > div{
    padding: 10px;
  }

  .yellow{
    background-color: #FFF3D9;
    padding: 80px  20% 80px 20%;
  }
  .green{
    background-color: #DBEBD3;
    padding: 80px  20% 80px 20%;
  }
  .white{
    padding: 80px  20% 80px 20%;
  }
  .grey{
    background-color: #F4F4F4;
    padding: 80px  20% 80px 20%;
  }

  .red{
    background-color: #FEBEB6;
    padding: 80px  20% 80px 20%;
  }
  .blue{
    background-color: #B6CFFE;
    padding: 80px  5% 80px 5%;
  }
  .white-2{
    padding: 80px  5% 80px 5%;
  }

  @media(max-width: 1050px){
    .yellow,.green,.white,.grey,.red,.blue{
      padding: 40px  5% 40px 5%;
    }
  }
  img{
    width: 100%;
  }
  .wideimg{
    width: 110%;
    margin-left: -5%;
    margin-right: 5%;
    margin-top: 30pt;
  }
  .gifimg{
    width: 130%;
    margin-left: -15%;
    margin-right: 15%;
    margin-bottom: 40pt;
  }
  .shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: -5%;
    margin-right: 5%;
    width: 110%;
    margin-bottom: 30pt;
  }
  .round{
    border: #1A1A1A solid 4px;
    border-radius: 25px;
    width:"100%";
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30pt;
  }

  th {
    text-align: left;
    vertical-align: top;
  }

  .wrap-info{
    margin-left: 50px;
  }

  video{
    margin-left: -5%;
    margin-right: -5%;
  }


  blockquote {
    margin: 0 auto;
    padding: 1em;
    border-left: 5px solid #999;
  }
  blockquote:before {
    display: none;
  }
  blockquote:not(:first-of-type) {
    margin-top: .5em;
  }
  blockquote p {
    color: #676767;
    font-size: 12pt;
    line-height: 1.4;
    font-style: italic;
  }
  blockquote footer {
    margin-top: .5em;
    padding: 0;
    color: #676767;
    font-size: 10pt;
    text-align: left;
    font-style: italic;
  }
  blockquote footer:before {
    content: '— ';
  }
  blockquote:nth-of-type(even) {
    text-align: right;
    border-left: none;
    border-right: 5px solid #999;
  }
  blockquote:nth-of-type(even) footer {
    text-align: right;
  }
  blockquote:nth-of-type(even) footer:before {
    content: '';
  }
  blockquote:nth-of-type(even) footer:after {
    content: ' —';
  }

  /* typeanimation */

  @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

  
  .type {
    border-right: solid 3px #1A1A1A;
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Source Code Pro', monospace;  
    font-size: 20px;
    color:  #1A1A1A;
    margin: 0 auto;
  }
  
  /* Animation */
  .type {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 680px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: #1A1A1A;}
    to{border-right-color: transparent;}
  }

  /* proflie */

  .profile{
    width: 100%;
  }
  .profile-text{
    width: 50%;
  }

  /* gallery */
  .wrap-gallery{
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrap-gallery > img{
    width: 270pt;
    height: 100%;
    padding: 1%;
  }